@import "https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: linear-gradient(to right, #134e5e, #71b280);
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-top: 100px;
  margin-bottom: 30px;
  text-align: center;
}

.header__logo {
  margin-bottom: 30px;
}

.header__title {
  font-size: 25px;
  font-weight: 400;
  color: #fff;
}

.todo {
  width: 400px;
  height: 40px;
  margin-bottom: 30px;
  position: relative;
}

.todo__input {
  border: none;
  border-radius: 4px;
  font-size: 15px;
  color: #333;
  padding-left: 10px;
  height: 100%;
  width: 100%;
}

.todo__btn {
  border: none;
  background-color: transparent;
  font-size: 15px;
  height: 100%;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10px;
  color: #555;
}
.todo-item {
  list-style: none;
  width: 400px;
  height: 40px;
  position: relative;
  margin-bottom: 20px;
  transition: all 1s ease;
}

.todo-item__input {
  border: none;
  border-radius: 4px;
  font-size: 15px;
  color: #333;
  padding-left: 10px;
  width: 100%;
  height: calc(100% + 10px);
  transition: all 1s ease;
}

.todo-item__complete,
.todo-item__trash {
  border: none;
  background-color: transparent;
  font-size: 15px;
  height: 100%;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10px;
  height: calc(100% + 10px);
}

.todo-item__complete {
  margin-right: 35px;
  color: #085308;
}

.todo-item__trash {
  color: #a81c1c;
}

.completed {
  text-decoration: line-through;
  color: #bbb;
  opacity: 0.5;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

@media (max-width: 440px) {
  .todo {
    width: 350px;
  }

  .todo-item {
    width: 350px;
  }
}
